body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

.gameboard {
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template: repeat(3, minmax(200px, 1fr)) / repeat(3, minmax(200px, 1fr));
    width: 600px;
}

.square {
    background-color: white;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}